In [1]:
import pandas as pd
import numpy as np

# DataFrames en pandas

- Es una estructura de datos **bidimensional** (tipo tabla), similar a una hoja de cálculo o tabla SQL.
- Cada columna puede tener un tipo de dato diferente (números, texto, booleanos, etc.).
- Los DataFrames son la estructura **más usada en pandas** para análisis de datos.

# ¿Cómo se crea un DataFrame?

- A partir de un **diccionario de listas**
- Desde una **Serie de pandas**
- Desde un **archivo CSV, Excel, JSON**

In [27]:
# diccionario de lista
data = {
    'Nombre': ['Ana', 'Luis', 'Carlos', 'Marta'],
    'Edad': [20, 22, 21, 23],
    'Carrera': ['Ingeniería', 'Derecho', 'Arquitectura', 'Ingeniería']
}

df = pd.DataFrame(data)

print(df)

   Nombre  Edad       Carrera
0     Ana    20    Ingeniería
1    Luis    22       Derecho
2  Carlos    21  Arquitectura
3   Marta    23    Ingeniería

In [13]:
# deesde listas
demo = pd.DataFrame(data=[ [1, 'a'],[2, 'b'],[3, 'c']], columns=['id', 'valor'] )
demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3 non-null      int64
 1   valor   3 non-null      object
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [15]:
# desde dicts
ids = [1,2,3]
productos = ['papas', 'pepsi', 'oreo']
precios = [18.5, 19.0, 22.5]

##DataFrame
data2 = {
    'ids': [1, 2, 3],
    'productos': ['papas', 'pepsi', 'oreo'],
    'precios': [18.5, 19.0, 22.5]
}

df = pd.DataFrame(data2)
print(df)

   ids productos  precios
0    1     papas     18.5
1    2     pepsi     19.0
2    3      oreo     22.5

# informacion básica del DF
df.info()

In [29]:
# info()
df.info

<bound method DataFrame.info of    Nombre  Edad       Carrera
0     Ana    20    Ingeniería
1    Luis    22       Derecho
2  Carlos    21  Arquitectura
3   Marta    23    Ingeniería>

In [31]:
# Filtrar
df[ df[]]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2555386196.py, line 2)

In [33]:
# describe()
df.describe

<bound method NDFrame.describe of    Nombre  Edad       Carrera
0     Ana    20    Ingeniería
1    Luis    22       Derecho
2  Carlos    21  Arquitectura
3   Marta    23    Ingeniería>

In [35]:
# ver columnas
df.columns

Index(['Nombre', 'Edad', 'Carrera'], dtype='object')

In [37]:
#selccionar columna
df['Carrera'].iloc[2]

'Arquitectura'

In [ ]:
# fittrar por condicional

In [43]:
# Calcular si son mayores de edad
df['Carrera'].replace('Derecho', 'Leyes', inplace=True)
df

/var/folders/5j/_y0ygj096j5dn9mcsz4md2740000gn/T/ipykernel_45161/1179101271.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Carrera'].replace('Derecho', 'Leyes', inplace=True)

   Nombre  Edad       Carrera
0     Ana    20    Ingeniería
1    Luis    22         Leyes
2  Carlos    21  Arquitectura
3   Marta    23    Ingeniería

In [ ]:
# Cambiar 'Derecho' por 'Leyes'

In [ ]:
# Agregamos un duplicado

# Eliminar duplicados

# Abrir archivos a DF


```python
f_csv = pd.read_csv('archivo.csv')
df_csv = pd.read_csv('archivo.csv', delimiter=';', encoding='utf-8')

df_excel = pd.read_excel('archivo.xlsx', sheet_name='Hoja1')
df_excel = pd.read_excel('archivo.xlsx', sheet_name='Hoja1', usecols=['Columna1', 'Columna2'])
#openpyxl.


df_json = pd.read_json('archivo.json')
df_json = pd.read_json('archivo.json', orient='records')

```