In [1]:
import pandas as pd
import numpy as np

In [3]:
# ejemplo 1
ventas = pd.Series([120, 150, 130, 170, 160, 155, 300, 145, 180, 210, 190, 220], name="ventas")

In [5]:
#ejemplo 2
temperatura = pd.Series({'2025': 25, '2024': 28, '2023': 31, '2022': 29, '2021': 28}, name = 'Temperatura')

# acceso a elementos de Series

- Por posici贸n ```serie[19]```
- Por etiqueta ```serie['clave']```
- Por localizaci贸n entera con ```serie.iloc[10]```
- Por localizacion por llave   ```serie.loc['2023']```
- Slicing  ```serie[inicio:stop:step]```
- Condicional. ```serie[serie > 10]```

In [24]:
# por posici贸n
ventas[4]

160

In [42]:
# Por etiqueta
# print(ventas['2'])

In [46]:
# iloc[]
ventas.iloc[9]

210

In [50]:
# loc[]
temperatura.loc['2023']

31

In [58]:
# slicing
print(ventas[5:9:1])


# temperaturas
print(temperatura[3:2:1])

5    155
6    300
7    145
8    180
Name: ventas, dtype: int64
Series([], Name: Temperatura, dtype: int64)

In [ ]:
# filtro condicional

# .apply()
permite aplicar una funci贸n personalizada a cada elemento de una Serie, uno por uno.


```python
def funcion(x):
    return x * 2

serie.apply(funcion)
```
Donde funci贸n puede ser:

1. Una funci贸n definida con def
1. Una lambda
1. Una funci贸n de Python (str.upper, abs, etc.)

In [8]:
# con una funcion
def doble(x):
    return x*2

ventas.apply(doble)

0     240
1     300
2     260
3     340
4     320
5     310
6     600
7     290
8     360
9     420
10    380
11    440
Name: ventas, dtype: int64

In [30]:
#lambda
print("restarle 2")
print(ventas.apply( lambda y : y-2 ))
print("sumarle 20")
print(ventas.apply( lambda y : y+20 ))
print("cubo")
print(ventas.apply( lambda y : y*y*y ))
print("multiplicacion")
print(ventas.apply( lambda y : y*y ))

restarle 2
0     118
1     148
2     128
3     168
4     158
5     153
6     298
7     143
8     178
9     208
10    188
11    218
Name: ventas, dtype: int64
sumarle 20
0     140
1     170
2     150
3     190
4     180
5     175
6     320
7     165
8     200
9     230
10    210
11    240
Name: ventas, dtype: int64
cubo
0      1728000
1      3375000
2      2197000
3      4913000
4      4096000
5      3723875
6     27000000
7      3048625
8      5832000
9      9261000
10     6859000
11    10648000
Name: ventas, dtype: int64
multiplicacion
0     14400
1     22500
2     16900
3     28900
4     25600
5     24025
6     90000
7     21025
8     32400
9     44100
10    36100
11    48400
Name: ventas, dtype: int64

In [76]:
# Clasificar en barato y caro
ventas.describe()

#categorizar
def clasificar(v):
    if v > 155 :
        return "altas"
    else:
        return "bajas"


ventas_cat = ventas.apply(clasificar)
print(ventas_cat)

print(ventas)

0     bajas
1     bajas
2     bajas
3     altas
4     altas
5     bajas
6     altas
7     bajas
8     altas
9     altas
10    altas
11    altas
Name: ventas, dtype: object
0     120
1     150
2     130
3     170
4     160
5     155
6     300
7     145
8     180
9     210
10    190
11    220
Name: ventas, dtype: int64

In [86]:
# metodos de clases existentes
nombres = pd.Series(['Jose', 'mario', 'diego'])
print(nombres.apply(str.upper)) #convierte los valores a mayusculas
print(nombres.apply(str.lower)) #convierte los valores a minusculas
print(nombres.apply(str.capitalize)) #primera letra en mayuscula


dir(str) #lista el tipo de dato

0     JOSE
1    MARIO
2    DIEGO
dtype: object
0     jose
1    mario
2    diego
dtype: object
0     Jose
1    Mario
2    Diego
dtype: object

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Limpieza de datos en Series de pandas
En la vida real, los datos muchas veces Vienen incompletos (NaN, None, cadenas vac铆as, valores fuera de rango, etc.)

Tienen errores de tipo (n煤meros como texto, valores inv谩lidos)
Presentan duplicados o valores inconsistentes

**Pandas** nos ofrece herramientas para detectar, limpiar y transformar estos datos f谩cilmente.

Herramientas:

### Ч Herramientas comunes para limpieza de datos en Series de pandas

| M茅todo / Funci贸n                        | Descripci贸n                                                                 |
|----------------------------------------|-----------------------------------------------------------------------------|
| `isna()` / `isnull()`                  | Detecta valores nulos (`NaN`, `None`)                                      |
| `notna()` / `notnull()`                | Detecta valores **no nulos**                                               |
| `fillna(valor)`                        | Rellena los valores nulos con un valor fijo                                |
| `dropna()`                             | Elimina los elementos que tienen valores nulos                             |
| `replace(valor_original, valor_nuevo)` | Reemplaza valores espec铆ficos                                               |
| `astype(tipo)`                         | Convierte los elementos a un tipo de dato espec铆fico (por ejemplo, `int`)  |
| `pd.to_numeric(..., errors='coerce')`  | Convierte a num茅rico, errores se vuelven `NaN` si se usa `errors='coerce'` |
| `drop_duplicates()`                    | Elimina elementos duplicados en la Serie                                   |

# Inplace = True
Realiza los cambios directamente en la serie.

In [92]:
datos = pd.Series([
    '25',
    '32',
    None,
    'desconocido',
    '41',
    '25',
    '',
    'N/A',
    'error',
    '29'
])

print(datos)

0             25
1             32
2           None
3    desconocido
4             41
5             25
6
7            N/A
8          error
9             29
dtype: object

In [100]:
# Detectar valores None (nulos)
print(datos.isna())

# remplazar
print("Remplazar")
no_validos = ['desconocido', 'error', '', 'N/A']
datos_limpios = datos.replace( no_validos, pd.NA )
print(datos_limpios)



# conversion a numeros
dato_numero = pd.to_numeric(datos_limpios, errors="coerce")
print(dato_numero)

# eliminar duplicados

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool
Remplazar
0      25
1      32
2    None
3    <NA>
4      41
5      25
6    <NA>
7    <NA>
8    <NA>
9      29
dtype: object
0    25.0
1    32.0
2     NaN
3     NaN
4    41.0
5    25.0
6     NaN
7     NaN
8     NaN
9    29.0
dtype: float64

In [104]:
# llenar los NaN con la media
dato_numero.fillna(dato_numero.mean())

0    25.0
1    32.0
2    30.4
3    30.4
4    41.0
5    25.0
6    30.4
7    30.4
8    30.4
9    29.0
dtype: float64

#  transformar Series


*   map(funci贸n)
*   apply(funci贸n)
*   where(condici贸n, otro) -- Los que no cumplen
* mask(condici贸n, otro) -- los que si cumplen.

In [106]:
ventas = pd.Series([150, 200, 300, 120, 90])

# Conservar solo los valores mayores a 150, el resto como 'Bajo'
ventas.where(ventas > 150, 'Bajo', inplace=True)
ventas

/var/folders/5j/_y0ygj096j5dn9mcsz4md2740000gn/T/ipykernel_41634/2073363939.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Bajo' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ventas.where(ventas > 150, 'Bajo', inplace=True)

0    Bajo
1     200
2     300
3    Bajo
4    Bajo
dtype: object

In [108]:
# mask
ventas = pd.Series([150, 200, 300, 120, 90])
ventas.mask(ventas > 150, 'Alto')

0     150
1    Alto
2    Alto
3     120
4      90
dtype: object