In [ ]:
import pandas as pd
import numpy as np

# DataFrames en pandas

- Es una estructura de datos **bidimensional** (tipo tabla), similar a una hoja de cálculo o tabla SQL.
- Cada columna puede tener un tipo de dato diferente (números, texto, booleanos, etc.).
- Los DataFrames son la estructura **más usada en pandas** para análisis de datos.

# ¿Cómo se crea un DataFrame?

- A partir de un **diccionario de listas**
- Desde una **Serie de pandas**
- Desde un **archivo CSV, Excel, JSON**

In [ ]:
# diccionario de lista
data = {
    'Nombre': ['Ana', 'Luis', 'Carlos', 'Marta'],
    'Edad': [20, 22, 21, 23],
    'Carrera': ['Ingeniería', 'Derecho', 'Arquitectura', 'Ingeniería']
}

df = pd.DataFrame(data)

print(df)

In [ ]:
# deesde listas

In [ ]:
# desde dicts
ids = [1,2,3]
productos = ['papas', 'pepsi', 'oreo']
precios = [18.5, 19.0, 22.5]
#nuevo = pd.DataFrame(columns=['id','producto', 'precio'],data= (ids,productos,precios) )

# informacion básica del DF
df.info()

In [ ]:
# info()

In [ ]:
# Filtrar

In [ ]:
# describe()

In [ ]:
# ver columnas

In [ ]:
#selccionar columna

In [ ]:
# fittrar por condicional

In [ ]:
# Calcular si son mayores de edad

In [ ]:
# Cambiar 'Derecho' por 'Leyes'

In [ ]:
# Agregamos un duplicado

# Eliminar duplicados

# Abrir archivos a DF


```python
f_csv = pd.read_csv('archivo.csv')
df_csv = pd.read_csv('archivo.csv', delimiter=';', encoding='utf-8')

df_excel = pd.read_excel('archivo.xlsx', sheet_name='Hoja1')
df_excel = pd.read_excel('archivo.xlsx', sheet_name='Hoja1', usecols=['Columna1', 'Columna2'])
#openpyxl.


df_json = pd.read_json('archivo.json')
df_json = pd.read_json('archivo.json', orient='records')

```