In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# ejemplo 1
ventas = pd.Series([120, 150, 130, 170, 160, 155, 300, 145, 180, 210, 190, 220], name="ventas")

In [ ]:
#ejemplo 2
temperatura = pd.Series({'2025': 25, '2024': 28, '2023': 31, '2022': 29, '2021': 28}, name = 'Temperatura')

# acceso a elementos de Series

- Por posici贸n ```serie[19]```
- Por etiqueta ```serie['clave']```
- Por localizaci贸n entera con ```serie.iloc[10]```
- Por localizacion por llave   ```serie.loc['2023']```
- Slicing  ```serie[inicio:stop:step]```
- Condicional. ```serie[serie > 10]```

In [ ]:
# por posici贸n

In [ ]:
# Por etiqueta
# print(ventas['2'])

In [ ]:
# iloc[]

In [ ]:
# loc[]

In [ ]:
# slicing


# temperaturas

In [ ]:
# filtro condicional

# .apply()
permite aplicar una funci贸n personalizada a cada elemento de una Serie, uno por uno.


```python
def funcion(x):
    return x * 2

serie.apply(funcion)
```
Donde funci贸n puede ser:

1. Una funci贸n definida con def
1. Una lambda
1. Una funci贸n de Python (str.upper, abs, etc.)

In [ ]:
# con una funcion
def doble(x):
    return x*2

ventas.apply(doble)

In [ ]:
#lambda

In [ ]:
# Clasificar en barato y caro
ventas.describe()

In [ ]:
# metodos de clases existentes
nombres = pd.Series(['Jose', 'mario', 'diego'])

# Limpieza de datos en Series de pandas
En la vida real, los datos muchas veces Vienen incompletos (NaN, None, cadenas vac铆as, valores fuera de rango, etc.)

Tienen errores de tipo (n煤meros como texto, valores inv谩lidos)
Presentan duplicados o valores inconsistentes

**Pandas** nos ofrece herramientas para detectar, limpiar y transformar estos datos f谩cilmente.

Herramientas:

### Ч Herramientas comunes para limpieza de datos en Series de pandas

| M茅todo / Funci贸n                        | Descripci贸n                                                                 |
|----------------------------------------|-----------------------------------------------------------------------------|
| `isna()` / `isnull()`                  | Detecta valores nulos (`NaN`, `None`)                                      |
| `notna()` / `notnull()`                | Detecta valores **no nulos**                                               |
| `fillna(valor)`                        | Rellena los valores nulos con un valor fijo                                |
| `dropna()`                             | Elimina los elementos que tienen valores nulos                             |
| `replace(valor_original, valor_nuevo)` | Reemplaza valores espec铆ficos                                               |
| `astype(tipo)`                         | Convierte los elementos a un tipo de dato espec铆fico (por ejemplo, `int`)  |
| `pd.to_numeric(..., errors='coerce')`  | Convierte a num茅rico, errores se vuelven `NaN` si se usa `errors='coerce'` |
| `drop_duplicates()`                    | Elimina elementos duplicados en la Serie                                   |

# Inplace = True
Realiza los cambios directamente en la serie.

In [ ]:
datos = pd.Series([
    '25',
    '32',
    None,
    'desconocido',
    '41',
    '25',
    '',
    'N/A',
    'error',
    '29'
])

print(datos)

In [ ]:
# Detectar valores None (nulos)


# remplazar



# conversion a numeros

# eliminar duplicados
numeros= numeros.drop_duplicates()

In [ ]:
# llenar los NaN con la media

#  transformar Series


*   map(funci贸n)
*   apply(funci贸n)
*   where(condici贸n, otro) -- Los que no cumplen
* mask(condici贸n, otro) -- los que si cumplen.

In [ ]:
ventas = pd.Series([150, 200, 300, 120, 90])

# Conservar solo los valores mayores a 150, el resto como 'Bajo'

In [ ]:
# mask
print(ventas)